<div class="auth-container authBackground">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="form-box">
      <div class="center-form">
        <div class="auth-wrapper">
          <img src="assets/images/image-gallery/22kra_logo.jpg" alt="KRA LOGO">
          <small>
            <strong>
              <h6 class="mb-4">Ushuru Smart</h6>
            </strong>
          </small>
          <h3>Sign in</h3>
          <form
            class="validate-form"
            [formGroup]="authForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName="username" />
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="authForm.get('username').hasError('required')">
                    Username is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    [type]="hide ? 'password' : 'text'"
                    formControlName="password"
                  />
                  <a
                    class="show-pwd-icon"
                    href="#"
                    onClick="return false;"
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                  >
                    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                  </a>
                  <mat-error *ngIf="authForm.get('password').hasError('required')">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="badge badge-solid-green mb-3">
              <a routerLink="/project-authentication/forgot-password" style="color: #000000">
                Forgot Password?
              </a>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-1"></div>

            <div *ngIf="error" class="alert alert-danger mt-1 mb-1">
              {{ error }}
            </div>

            <div class="container-auth-form-btn">
              <div style="text-align: center">
                <button
                  mat-raised-button
                  color="primary"
                  [class.auth-spinner]="loading"
                  [disabled]="loading"
                  class="auth-form-btn"
                  [disabled]="!authForm.valid"
                  type="submit"
                >
                  Login
                </button>
              </div>
            </div>
            <div class="signpage">
              <div>
                <span>
                  Not Registered?
                  <a routerLink="/project-authentication/signup">Sign Up</a>
                </span>
              </div>
            </div>
          </form>
        </div>
        <div class="badge badge-solid-green mt-3">
          <small>
            <a href="https://emtechhouse.co.ke" target="_blank" style="color: #000000">
              Powered by E&M Technology House
            </a>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
